{% extends 'main/admin_base.html' %}
{% load static %}

{% block link %}
<style>
    #id_old_password,#id_new_password1,#id_new_password2{
        width: 100%;
        background: transparent;
        padding: 1%;
        outline: none;
        border-radius: 2px;
        border:none;
        border-bottom: 1px solid aqua;

    }
    ul li{
        display: none;
    }
    label{
        font-size: 20px;
    }
    .form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-10%);
        
    }
    
    form .main-container{
        border: none;
        width: 50%;
        padding: 2%;
        background-color: #4e4e4e;
        color: #fff;
        border-radius: 3px;
        box-shadow: 16px 30px 50px #000;
    }
    .submit{
        background-color: #c5dcdd;
        border:none;
        padding: 1%;
        border-radius:3px;
        outline: none;
    }
    .submit:hover{
        background-color: #a2dadd;
    }
</style>

{% endblock link %}

{% block body %}

<div class="container py-5 ">
    <div class="wrapper">
        {% if messages %}
        {% for message in messages %}
        
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor%}
        {% endif %}

    </div>
</div>

<div class="container py-5 form">
    <form action="" method="POST">
        <div class="main-container">
            {% csrf_token %}
            {{fm.as_p}}
            <input class="submit" type="submit" value="Change Password">
        </div>
    </form>
</div>

{% endblock body %}