<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Password success</h1>
</body>
</html>


{% extends 'main/admin_base.html' %}

{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/admin-login.css' %}">

    <style>
        h2{
            font-weight: bolder;
        }
    </style>
{% endblock link %}

{% block body %}

<div class="container py-4 text-center alert alert-success">
    <div class="wrapper">
        <h3>Changing the password of </h3> <strong><h2>{{user.username | upper}}</h2></strong>
    </div>
</div>

<div class="container">
    <div class="wrappe ">
        <div class="form-container  ">
            <p class="title">Login</p>
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Old Password</label>
                    {{form.old_password}}
                </div>
                <div class="input-group">
                    <label for="username">New Password</label>
                    {{form.new_password1}}
                </div>
    
                <div class="input-group">
                    <label for="password">New password confirmation</label>
                    {{form.new_password2}}
                </div><br>
                <button class="sign">Change Password</button>
            </form>
            <!-- this line of the code is for the message to display the warning -->
            {% if messages %}
            {% for message in messages %}
            <div class="social-icons">
                <p> {{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
           
        </div>

    </div>
</div>

{% endblock body %}
