@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
.title{
    font-family: Cinzel;
}
.title-1{
    font-family: le jour script;
    margin-top: -1.2%;
}

.about-body{
    background: #c9dcdd;
    padding: 5% 0;
    font-size: 32pt;
    
}

.about-author-body{
    display: flex;
    justify-content: space-between;
}

.about-title .title{
    font-size: 46.4pt;
}
.review-about-author{
    padding: 5%;
}

.author-img .img{
    border-radius: 50%;
    border: 0px solid white;
    width: 410px;
    height: 410px;
    border-width: 10px;
}

@media(max-width:1000px){
    .about-author-body{
       display: grid;
       grid-template-columns: auto;
    }
    
    .about-title .title{
        font-size: 46.4pt;
    }
    
    .img{
        border-radius: 50%;
        border: 0px solid white;
        width: 410px;
        height: 400px;
        border-width: 10px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

}

@media screen and (max-width:768px) {
    .about-body{
        background: #c9dcdd;
        padding: 5% 0;
        font-size: 20pt;
        width: 100%;
        overflow: hidden;
    }
    
    .about-author-body{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        width: 100%;
    }
    
    
    .about-title .title{
        font-size: 28pt;
    }
    
    
    
    .img{
        border: 10px solid white;
        width: 250px;
        height: 250px;
        display: grid;
        position:relative;
        left: 50%;
        transform: translate(-50%);

    }
    
}


@media screen and (max-width:425px) {
    .about-body{
        background: #c9dcdd;
        padding: 5% 0;
        font-size: 18pt;
        width: 100%;
        overflow: hidden;
    }
    
    .about-author-body{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        width: 100%;
    }
    
    
    .about-title .title{
        font-size: 28pt;
    }
    .review-about-author{
        padding: 5%;
    }
    
    .author-img .img{
        border-radius: 50%;
        border: 10px solid white;
        width: 250px;
        height: 250px;
        
        
    }
    
}
@media screen and (max-width:320px) {
    .about-body{
        background: #c9dcdd;
        padding: 5% 0;
        font-size: 20pt;
        width: 100%;
        overflow: hidden;
    }
    
    .about-author-body{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        width: 100%;
    }
    
    .about-title{
        padding: 0%;
        
    }
    .about-title .title{
        font-size: 28pt;
    }
    .review-about-author{
        padding: 5%;
    }
    
    .author-img .img{
        border-radius: 50%;
        border: 10px solid white;
        width: 200px;
        height: 200px;
        
    }
    
}
