@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}

body{
    font-family:'Open Sans Condensed';
    width: 100%;
}
.navbar{
    background-color: #ffffff !important;
}
.logo-img{
    width:200px ;
    height: 200px;
    padding: 1%;
    margin-top: -60%;
    margin-left: 10%;
}
.btn-book{
    font-size: 32pt;
    background: #c5dcdd;
    border: none;
    color: #000000 !important;
    transition: 0.6s;
    
}


.btn-book:hover{
    background: #89b2b4;
}

.main-footer{
    background:#C5DCDD ;
}
.footer-info-text{
    font-size: 32pt;
    font-weight: lighter;
}
.footer-ul{
    position: relative;
    left: 25%;
}
.footer-ul ul{
    list-style: none;
    text-align: left;
}
.footer-ul ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 32pt;
}
.nav-link{
    font-size: 32pt;
}
.nav-link-book{
    width: 50vh;
    font-size: 32pt;
}

.input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid ;
    padding: 1px 10px;
    margin: 0px 10%;
    font-size: 32pt;
}
.body-font{
    font-family: Sans SemiCondensed;
}

.input::placeholder{
    text-align: center;
    font-size: 28px;
    color: #000000;
}

.input:focus {
    background-color: transparent;
    outline: none !important;
    border-bottom:2px solid ;
}

/* up 1204 */
@media (min-width:1204px){
    .navbar{
        background-color: #ffffff !important;
    }
    .logo-img{
        width:200px ;
        height: 200px;
        padding: 1%;
        margin-top: -60%;
        margin-left: 10%;
    }
    .btn-book{
        font-size: 32pt;
        background: #c5dcdd;
        border: none;
        color: #000000 !important;
        transition: 0.6s;
        
    }
    
    .btn-book:hover{
        background: #89b2b4;
    }
    
    .main-footer{
        background:#C5DCDD ;
    }
    .footer-info-text{
        font-size: 32pt;
        font-weight: lighter;
    }
    .footer-ul{
        position: relative;
        left: 25%;
    }
    .footer-ul ul{
        list-style: none;
        text-align: left;
    }
    .footer-ul ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 32pt;
    }
    .nav-link{
        font-size: 32pt;
    }
    .nav-link-book{
        width: 50vh;
        font-size: 32pt;
    }
    
    .input{
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom:2px solid ;
        padding: 1px 10px;
        margin: 0px 10%;
        font-size: 32pt;
    }
    .body-font{
        font-family: Sans SemiCondensed;
    }
    
    .input::placeholder{
        text-align: center;
        font-size: 28px;
        color: #000000;
    }
    
    .input:focus {
        background-color: transparent;
        outline: none !important;
        border-bottom:2px solid ;
    }

}

@media (max-width:1000px){
    .navbar{
        padding: 4%;
    }
    .logo-img{
        position: relative;
        margin-top:-22%;
        left: -90%;
        transform: translateX(-60%);
    }
    .navbar-toggler{
        position: relative;
        left: 90%;
    }
    .navbar-collapse ul .nav-item{
        text-align: right;
    }
    .link-book-position {
        margin:auto 70%;
    }
    
    
}
@media (max-width:900px){
    .navbar{
        padding: 4%;
    }
    .logo-img{
        position: relative;
        margin-top:-22%;
        left: -90%;
        transform: translateX(-60%);
    }
    .navbar-toggler{
        position: relative;
        left: 90%;
    }
    .navbar-collapse ul .nav-item{
        text-align: right;
    }
    .nav-link-book{
        width: 30vh;
    }
    .link-book-position {
        margin:auto 60%;
    }
    .footer-forms form{
        width: 45rem;
    }
    .footer-ul{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .footer-ul ul{
        display: flex;
        position: relative;
        right: 50%;
        transform: translate(12%);
    }
    .footer-ul ul li{
        padding: 2%;
    }
}

@media (max-width:767px) {
    .main-footer{
        position: relative;
        width: 100%;
    }
    .footer-forms{
        margin-left: -20% ;
    }
    .footer-ul ul{
        position: relative;
        right: 60%;
    }
}
@media (max-width:500px) {
    body{
        font-family:'Open Sans Condensed';
        font-size: 20pt !important;
        width: 100%;

    }
    .navbar-collapse ul li a{
        font-size: 20pt !important;
    }
    .btn-book{
        font-size: 18pt !important;
        width:10rem;
        margin-left: -20%;
    }

    .logo-img{
        width:150px;
        height: 150px;
        padding: 1%;
        margin-top: -25%;
        margin-left: 50%;
    }
    .btn-book{
        font-size: 20pt !important;
    }
    
    .main-footer{
        overflow: hidden;
        width: 100%;
    }
    .footer-forms{
        display: flex;
        justify-content: center;
    }
    .f-forms{
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-27%);
    }
    .footer-info-text{
        font-size: 20pt !important;
    }
    .input-group .input{
        font-size: 20pt;
        width: 100%;
    }
    /* .footer-ul{
        display: flex;
        justify-self: center;
    } */
    .footer-ul ul{
        position: relative;
        width: 100%;
        transform: translate(8%);
    }
    .footer-ul ul li a{
        font-size: 20pt;
    }
    
}
@media (max-width:400px){
    body{
        font-family:'Open Sans Condensed';
        font-size: 20pt !important;
        width: 100%;

    }
    .navbar-collapse ul li a{
        font-size: 20pt !important;
    }

    .logo-img{
        width:100px;
        height: 100px;
        padding: 1%;
        margin-top: -25%;
        margin-left: 55%;
    }
    .btn-book{
        font-size: 18pt !important;
        width:8rem;
        margin-left: -20%;
    }
    .navbar-toggler{
        position: relative;
        left: 80%;
    }
    
    .main-footer{
        overflow: hidden;
        width: 100%;
    }
    .footer-forms{
        display: flex;
        justify-content: center;
    }
    .f-forms{
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-27%);
    }
    .input-group .input{
        font-size: 17pt;
    }
    .footer-info-text{
        font-size: 17pt !important;
    }
    
    .footer-ul ul{
        position: relative;
        width: 100%;
        left: -50%;
        transform: translate(-8%);
    }
    .footer-ul ul li a{
        font-size: 17pt;
    }
    
}


