@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}

body{
    font-family:'Open Sans Condensed';
    max-width: 100%;
}
.navbar{
    background-color: #ffffff !important;
}
.logo-img{
    width: 200px;
    height: 200px;
    padding: 1%;
    margin-top: -60%;
    margin-left: 10%;
}
.btn-books{
    font-size: 32px !important;
    background: #C5DCDD;
    border: none;
    color: #000000 !important;
    transition: 0.6s;
    
}


.btn-books:hover{
    background: #89b2b4;
}

.main-footer{
    background:#C5DCDD ;
}
.footer-info-text{
    font-size: 32px;
    font-weight: lighter;
}
.footer-ul{
    position: relative;
    left: 25%;
    display: grid;

}
.footer-ul ul{
    list-style: none;
    text-align: left;
}
.footer-ul ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}
.nav-link{
    font-size: 32px;
}
.input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #000000;
    padding: 1px 10px;
    margin: 0px 10%;
    font-size: 32px;
    border-radius: 0%;
}
.body-font{
    font-family: Sans SemiCondensed;
}

.input::placeholder{
    text-align: center;
    font-size: 28px;
    color: #000000;
}

.input:focus {
    background-color: transparent;
    outline: none !important;
    border-bottom:2px solid ;
}


/* up 1204 */
@media (min-width:1204px){
    .navbar{
        background-color: #ffffff !important;
    }
    .logo-img{
        width:200px ;
        height: 200px;
        padding: 1%;
        margin-top: -50%;
        margin-left: 10%;
        display: grid;
        place-content: center;
    }
    .btn-books{
        font-size: 32px;
        background: #c5dcdd;
        border: none;
        color: #000000 !important;
        transition: 0.6s;
        
    }
    
    .btn-books:hover{
        background: #89b2b4;
    }
    
    .main-footer{
        background:#C5DCDD ;
    }
    .footer-info-text{
        font-size: 32px;
        font-weight: lighter;
    }
    .footer-ul{
        position: relative;
        left: 25%;
    }
    .footer-ul ul{
        list-style: none;
        text-align: left;
    }
    .footer-ul ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 32px;
    }
    .nav-link{
        font-size: 32px;
    }
    .nav-link-book{
        width: 40vh;
        font-size: 32px;
    }
    
    .input{
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom:2px solid ;
        padding: 1px 10px;
        margin: 0px 10%;
        font-size: 32px;
    }
    .body-font{
        font-family: Sans SemiCondensed;
    }
    
    .input::placeholder{
        text-align: center;
        font-size: 28px;
        color: #000000;
    }
    
    .input:focus {
        background-color: transparent;
        outline: none !important;
        border-bottom:2px solid ;
    }

}

@media(max-width:1104px){
    
    .logo-img{
        width:200px ;
        height: 200px;
        padding: 1%;
        margin-top: -50%;
        margin-left: -6%;
    }
    .nav-link-book{
        width: 10vh;
        font-size: 32px;
    }
    
}
@media(max-width:1180px){
    .nav-link-book{
        width: 50vh;
        font-size: 32px;
    }
    
}

@media(max-width:1194px){
    .nav-link-book{
        width: 50vh;
        font-size: 32px;
    }
    
}

@media (max-width:1000px){
    .navbar{
        padding: 4%;
    }
    
    .navbar-collapse ul .nav-item{
        text-align: right;
    }
    .link-book-position {
        margin-left: 15%;
    }
}
@media (max-width:991px){
    .logo-img{
        position: relative;
        margin-top:-22%;
        left: -100%;
        transform: translateX(-60%);
    } 
    .navbar-toggler{
        position: relative;
        left: 100%;
    }
    .nav-link-book{
        position: relative;
        left:90%;
    } 
    .navbar-collapse{
        transition: .6s;
    }
}
@media (max-width:900px){
    .navbar{
        padding: 4%;
    }
    .logo-img{
        position: relative;
        margin-top:-22%;
        left: -90%;
        transform: translateX(-60%);
    }
    .navbar-toggler{
        position: relative;
        left: 90%;
    }
    .navbar-collapse ul .nav-item{
        display: grid;
    }
    .nav-link-book{
        width: 40vh;
        left: -10%;
    }
    .link-book-position {
        margin:auto 70%;
    }
    .footer-forms form{
        width: 45rem;
    }
    .footer-ul{
        display: grid;
        grid-template-columns: auto;
        max-width: 100%;
    }
    .footer-ul ul{
        display: flex;
        justify-content: center;
        position: inherit;
        left: -50%;
        transform: translate(25%);

        
    }
    .footer-ul ul li{
        padding: 2%;
        display: grid;
        place-items: center;
    }

}

@media (max-width:767px) {
    .navbar{
        padding: 4%;
    }
    .logo-img{
        position: relative;
        margin-top:-22%;
        width:150px;
        height: 150px;
        left: -90%;
        transform: translateX(-60%);
    }
    .navbar-toggler{
        position: relative;
        left: 90%;
    }
    .navbar-collapse ul .nav-item{
        text-align: right;
    }
    
    .nav-link-book{
        position:relative;
        left: -30%;
        width: 40vh;
    }
    .link-book-position {
        margin:auto 70%;
    }
    .footer-forms form{
        width: 45rem;
    }
    .footer-ul{
        display: grid;
        grid-template-columns: auto;
        max-width: 100%;
    }
    .footer-ul ul{
        display: flex;
        justify-content: center;
        position: inherit;
        left: -50%;
        transform: translate(15%);

        
    }
    .footer-ul ul li{
        padding: 2%;
        display: grid;
        place-items: center;
    }
    .main-footer{
        position: relative;
        width: 100%;
    }
    .footer-forms{
        margin-left: -20% ;
    }
    
}

@media (max-width:500px) {
    body{
        font-family:'Open Sans Condensed';
        font-size: 20px !important;
        width: 100%;

    }
    .navbar-collapse ul .nav-item{
        display: grid;
    }
    .navbar-collapse ul li a{
        font-size: 20px !important;
    }
    .btn-books{
        font-size: 20px !important;
        width:10rem;
        margin-left: -25%;
    }
    .nav-link-book{
        position: relative;
        left: -10%;
    }

    .logo-img{
        position: relative;
        width:100px;
        height: 100px;
        padding: 1%;
        margin-top: -25%;
        left:-50%;
    }
    .navbar-toggler{
        left: 70%;
    }
    .btn-books{
        font-size: 20px !important;
    }
    
    .main-footer{
        overflow: hidden;
        width: 100%;
    }
    .footer-forms{
        display: flex;
        justify-content: center;
    }
    .f-forms{
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-27%);
    }
    .footer-info-text{
        font-size: 20px !important;
    }
    .input-group .input{
        font-size: 20px;
        width: 100%;
    }
    .input-group .input::placeholder{
        font-size: 20px;
    }
    .footer-ul ul{
        position: relative;
        width: 100%;
        left: -50%;
        transform: translateX(8%);
    }
    .footer-ul ul li a{
        font-size: 20px;
    }
    
}
@media (max-width:425px){
    .logo-img{
        left: -30%;
    }
}
@media (max-width:400px){
    body{
        font-family:'Open Sans Condensed';
        font-size: 17fddfdpx !important;
        width: 100%;

    }
    .navbar-collapse ul li a{
        font-size: 20px !important;
    }

    .logo-img{
        width:100px;
        height: 100px;
        padding: 1%;
        margin-top: -25%;
        left: -65%;
    }
    .btn-books{
        font-size: 20px !important;
        width:8rem;
        margin-left: -20%;
    }
    .navbar-toggler{
        position: relative;
        left: 80%;
    }
    
    .main-footer{
        overflow: hidden;
        width: 100%;
    }
    .footer-forms{
        display: flex;
        justify-content: center;
    }
    .f-forms{
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-27%);
    }
    .input-group .input{
        font-size: 20px;
    }
    .input-group .input::placeholder{
        font-size: 20px;
    }
    .footer-info-text{
        font-size: 20px !important;
    }
    .footer-ul{
        display: grid;
        grid-template-rows: auto 1fr;
    }
    
    .footer-ul ul{
        position: relative;
        width: 100%;
        left: -50%;
        transform: translateX(5%);

    }
    .footer-ul ul li a{
        font-size: 20px;
    }
    
}

@media (max-width:374px){
    
    .footer-ul ul{
        position: relative;
        width: 100%;
        left: -52%;
        transform: translateX(5%);

    }
    .footer-ul ul li a{
        font-size: 20px;
    }
}

@media (max-width:334px){
    .logo-img{
        left: -50%;
    }
    .footer-ul ul{
        position: relative;
        width: 100%;
        left: -54%;
        transform: translateX(5%);

    }
    .footer-ul ul li a{
        font-size: 20px;
    }
    
}


