@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}

body{
    font-family:'Open Sans Condensed';
}
.navbar{
    background-color: #ffffff !important;
}
.logo-img{
    width:200px ;
    height: 200px;
    padding: 1%;
    margin-top: -60%;
    margin-left: 10%;
}
.btn-book{
    font-size: 32pt;
    background: #c5dcdd;
    border: none;
    color: #000000 !important;
    transition: 0.6s;
    
}


.btn-book:hover{
    background: #89b2b4;
}

.main-footer{
    background:#C5DCDD ;
}
.footer-info-text{
    font-size: 32pt;
    font-weight: lighter;
}
.footer-ul{
    position: relative;
    left: 25%;
}
.footer-ul ul{
    list-style: none;
    text-align: left;
}
.footer-ul ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 32pt;
}
.nav-link{
    font-size: 32pt;
}
.nav-link-book{
    width: 50vh;
    font-size: 32pt;
}

.input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid ;
    padding: 1px 10px;
    margin: 0px 10%;
    font-size: 32pt;
}
.body-font{
    font-family: Sans SemiCondensed;
}

.input::placeholder{
    text-align: center;
    font-size: 28px;
    color: #000000;
}

.input:focus {
    background-color: transparent;
    outline: none !important;
    border-bottom:2px solid ;
}

/* up 1204 */
@media (min-width:1204px){
    .navbar{
        background-color: #ffffff !important;
    }
    .logo-img{
        width:200px ;
        height: 200px;
        padding: 1%;
        margin-top: -60%;
        margin-left: 10%;
    }
    .btn-book{
        font-size: 32pt;
        background: #c5dcdd;
        border: none;
        color: #000000 !important;
        transition: 0.6s;
        
    }
    
    .btn-book:hover{
        background: #89b2b4;
    }
    
    .main-footer{
        background:#C5DCDD ;
    }
    .footer-info-text{
        font-size: 32pt;
        font-weight: lighter;
    }
    .footer-ul{
        position: relative;
        left: 25%;
    }
    .footer-ul ul{
        list-style: none;
        text-align: left;
    }
    .footer-ul ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 32pt;
    }
    .nav-link{
        font-size: 32pt;
    }
    .nav-link-book{
        width: 50vh;
        font-size: 32pt;
    }
    
    .input{
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom:2px solid ;
        padding: 1px 10px;
        margin: 0px 10%;
        font-size: 32pt;
    }
    .body-font{
        font-family: Sans SemiCondensed;
    }
    
    .input::placeholder{
        text-align: center;
        font-size: 28px;
        color: #000000;
    }
    
    .input:focus {
        background-color: transparent;
        outline: none !important;
        border-bottom:2px solid ;
    }

}

/* billow 1200px */
@media (max-width:1200px){

    .logo-img{
        width:200px ;
        height: 200px;
        padding: 1%;
        margin-top: -60%;
        margin-left: 20%;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }
    
}

/* 991px */
@media(max-width:991px){
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 100%;
    }
    .navbar-collapse ul{
        margin: auto 85%;
        text-align: right;
    }
    .navbar-collapse ul li{
        text-align: right !important;
    }
    .link-book-position{
        margin: auto 55%;
    }
    .logo-img{
        position: absolute;
        width:150px ;
        height: 150px;
        top: -7rem;
        right: 10rem;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }

}
@media (max-width:828px) {
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 80%;
    }
    .navbar-collapse ul{
        margin: auto 60%;
        text-align: right;
    }
    .navbar-collapse ul li{
        text-align: right !important;
    }
    .link-book-position{
        margin: auto 60%;
    }
    .logo-img{
        position: absolute;
        width:150px ;
        height: 150px;
        top: -6.5rem;
        right: 10rem;
    }
    
    .footer-ul{
        position: relative;
        left:10%;
    }

}
@media (max-width:767px){
    .footer-info-text{
        font-size: 28pt;
    }
    .footer-ul{
        position: relative;
    }
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-25%;
    }
    .footer-ul ul li{
        padding: 2%;
    }
    .footer-ul ul li a{
       font-size: 28pt;
    }
}

@media (max-width:500px){
    .footer-info-text{
        font-size: 20pt;
    }
    .footer-ul{
        position: relative;
    }
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-32%;
    }
    .footer-ul ul li a{
        font-size: 20pt;
    }
}
@media (max-width:450px){
    .footer-ul{
        position: relative;
    }
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-35%;
    }
    .footer-ul ul li a{
        font-size: 20pt;
    }
}
@media (max-width:444px){
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-40%;
    }
    
}
@media (max-width:414px){
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-45%;
    } 
}
@media (max-width:391px){
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-49%;
    } 
}
@media (max-width:375px){
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-50%;
    } 
}

@media (max-width:374px){
    .footer-info-text{
        font-size: 18pt;
    }
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-50%;
    }
    .footer-ul ul li a{
        font-size:18pt;
    }
}

@media (max-width:340px){
    .footer-ul ul{
        display: flex;
        position:relative;
        left:-55%;
        transform: scale(0.9)
    }
    .footer-ul ul li a{
        font-size:18pt;
    }
}



/* bellow 600px */
@media (max-width:600px){
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 80%;
    }
    .navbar-collapse ul{
        margin: auto 20%;
        text-align: right;
    }
    .navbar-collapse ul li{
        text-align: right !important;
    }
    .link-book-position{
        margin: auto 40%;
    }
    .logo-img{
        position: absolute;
        width:150px ;
        height: 150px;
        top: -6.5rem;
        right: 6rem;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }
    
}
/* bellow 500px */
@media (max-width:500px){
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 80%;
    }
    .navbar-collapse ul{
        margin: auto 20%;
        text-align: right;
    }
    .navbar-collapse ul li{
        text-align: right !important;
    }
    .link-book-position{
        margin: auto 35%;
    }
    .logo-img{
        position: absolute;
        width:110px ;
        height: 110px;
        top: -5.5rem;
        right: 6rem;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }
    
}
/* bellow 400px */
@media (max-width:400px){
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 80%;
    }
    .navbar-collapse ul{
        margin: auto 20%;
        text-align: right;
    }
    .navbar-collapse ul li{
        text-align: right !important;
    }
    .link-book-position{
        margin: auto 60%;
        width: 20px;
        
    }
    .btn-book{
        width: 6rem;
        font-size: 28px;
    }

    .logo-img{
        position: absolute;
        width:105px ;
        height: 105px;
        top: -5.5rem;
        right: 3rem;
    }
    .nav-padding{
        display: grid;
        grid-template-columns: auto;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }
    
}

/* bellow 300px */
@media (max-width:300px){
    .navbar{
        background-color: #ffffff !important;
        padding: 2%;
    }
    .navbar-toggler{
        margin: auto 70%;
    }
    .navbar-collapse ul{
        margin-right:10% !important;
        text-align: right;
    }
    .navbar-collapse ul li{
        /* margin-left: ; */
        text-align: right !important;
    }
    .link-book-position{
        margin: auto -6%;
    }
    .logo-img{
        position: absolute;
        width:150px ;
        height: 150px;
        top: -20.5rem;
        right:0;
    }
    
    .footer-ul{
        position: relative;
        left:20%;
    }
    
}
