.blog-blog{
    font-size: 32pt !important;
}
.img-blog{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.title-font{
    font-family: "Cinzel";
    text-align: center;
    font-size: 46.4pt;

}

.blog{
    cursor: pointer;
}

.blog label{
    font-size: 28pt !important;
    cursor: pointer;
    color: #000000;
    font-weight: lighter;
}
  
.blog-body{
    font-size: 32pt;
    font-family: Open Sans Condensed;

}
.img-content-blog{
    width: 100%;
    height: 100%;
}
.img-content-blog .content-img{
    width: 100% !important;
    height: 550px !important;
}
.divider{
    border: 3px solid #ddd;
}


@media screen and (max-width:500px){
    .blog-body{
        font-size: 20pt !important;
    }
}
