.main-book-container{
    font-size: 32pt;
    background: #c5dcdd !important;
    padding-bottom: 10%;
}

.start-button{
    background: #a6a6a6;
    border: none;
    outline: none;
    font-size: 32pt;
    padding: 0% 5% 0% 5%;
}
.book-des{
    font-size:32pt !important ;
}

@media (max-width:500px){
    .start-button{
        font-size: 20pt;
    }
    .book-descriptions{
        font-size: 20pt;
    }
    .book-des{
        font-size: 20pt !important;
    }
}

@media (max-width:400px){
    .start-button{
        font-size: 17pt;
    }
    .book-descriptions{
        font-size: 17pt;
    }
    .book-des{
        font-size: 17pt !important;
    }
}
