.form{
    width: 100%;
    margin-top: 3%;
}
.contact-form-title{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.ft-2{
    font-size: 28px;
}
.col-form-label{
    font-size: 28px;
}
.main-form{
    margin-left: -8%;
}

@media (max-width:1280px){
    .main-form{
        margin-left: -6%;
    }
}
@media (max-width:900px){
    .main-form{
        margin-left: 5%;
    }
}
@media (max-width:800px){
    .main-form{
        margin-left: 5%;
    }
    .ft-2{
        font-size: 20px;
    }
    .col-form-label{
        font-size: 20px;
    }
}