.form{
    width: 100%;
    margin-top: 3%;
}
.ft-2{
    font-size: 28px;
}
.col-form-label{
    font-size: 28px;
}
@media (max-width:800px){

    .ft-2{
        font-size: 20px;
    }
    .col-form-label{
        font-size: 20px;
    }
}