@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}
body{
    font-family: open sans condensed ;
    color: #000000;

}
.myblog{
    width: 100%;
    height: 90vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.osc-font{
    font-family: open cans condensed !important;
}

.main-img{
    width: 410px !important;
    height: 410px;
    border-radius: 50%;
    border: 10px solid #ffffff;  
    
}
.font{
    font-family: open sans condensed ;
}

.main-container{
    background: #C5DCDD;
}
.pag{
    font-size: 53.4px;
    text-align: center;
    margin: 10px 40px;
    font-family:  Cinzel !important;
    color: #000000;
    font-weight: lighter !important;
}

.box-sub{
    position: relative;
    background: #a6a6a6;
    border:10px solid #ffffff;
    outline: none;

}
.main-pag{
    font-family:  'Open Sans Condensed';
    font-size: 32pt !important;
}
.hi{
    font-family:'Open Sans Condensed' ;

}
.erika_h1{
    font-family: le jour script;
    font-size: 44.5pt;
}

.erika-book-title{
    font-size: 32pt !important;
}
.img-blog{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transition: .5s;
}
.img-blog:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.page-link{
    text-decoration: none;
    font-size: 32pt;
    color: #000000;
}
.blog{
    cursor: pointer;
}
.blog-link-title{
    font-size: 32pt;
    transition: .5s ease-in-out;
}
.blog-link-title:hover{
    transform: scale(1.1);
}
.blog label{
    font-size: 32pt !important;
    cursor: pointer;
}

.blog-link{
    color: #000000;

}

.thumnail-body{    
    background-image: url(../images/thumnail_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */

}

.thum-body{
    position: relative;
    height: 100vh;
}
.title-read{
    background-color: #C5DCDD;
    padding: 1%;
    width: 50%;
    margin: 0% 25%;
    font-size: 32pt;    
}

.read_link{
    color: #000000;
    text-decoration: none;
    font-weight: lighter;
    font-size: 32pt;
    
}

.col-form-labels{
    font-size: 32pt;
}

.contact-title{
    font-size: 32pt;
}
.form{
    background-color: #A6A6Af !important;
    padding:1%;
    overflow: hidden;
    width:100%;
}
h3{
 margin: 50px;
 position: relative;   
}

.ft-2{
    font-size: 18pt !important;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin: 50px;
    position: relative;

}

.book-ttl{
    font-size: 28pt;
    text-align: right;
}
.now-1{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.book-input{
    position: relative;
    display: grid;
    max-width: 60%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #000000;
    padding:0 20px;
    
    font-size: 28pt !important;
}

.main-form{
    width: 100rem;
    padding: 3%;
    overflow: hidden;   
}


.book-submit{
    margin-left:20%;
    width: 30%;
    font-size: 28pt;
    background-color: transparent;
    transition: 0.7s;
    border-radius:2px ;
    overflow: hidden;
    border: 1px solid #C5DCDD;

}

.book-submit:hover{
    border: 2px solid #C5DCDD;
    background-color: #C5DCDD;
    
}
.book-submit:focus{
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}




    
@media screen and (max-width:1024px){
    .main-form{
        margin-left: 8%;
    }
    .book-input{
        width: 65%;
    }

    
}
@media screen and (max-width:1024px) {
    .myblog{
        overflow: hidden;
    }
    .book-input{
        width: 40%;
    }

}

@media screen and (max-width:768px) {

    .book-ttl{
        font-size: 20pt;
        text-align: right;
    }

    .img-blog{
        width: 150px;
        height: 150px;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width: 30%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 10px;
        margin-top: 1%;       
        font-size: 20pt !important;
    }
    
    .main-form{
        width: 100rem;
        margin-left: -10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:10%;
        width: 30%;
        font-size: 28px;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }
}

@media screen and (max-width:425px) {
    .myblog{
        overflow: hidden;
        width: 100%;
    }

    .main-img{
        width: 200px !important;
        height: 200px;
        border-radius: 50%;
        border: 0px solid #fff;
        border-width: 7px;
    }
     
    .box-sub{
        position: relative;
        margin-top:-6% ;
        background: #a6a6a6;
        border:1px solid #fff;
        border-width: 10px;
    }
    .thumnail-body{
        width: 100%;
        height: 30rem;
    }
    .title-read{
        padding: 1%;
        width: 100%;
        margin: 0% 1%;
        font-size: 28pt; 
    }
    .form{
        width:100%;
    }
    .book-ttl{
        
        font-size: 18pt;
        text-align: left;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width: 18%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 10px;
        margin-top: 1%;       
        font-size: 18pt !important;
    }
    .book-input{
        width: 46%;
    }
    
    
    .main-form{
        width: 100rem;
        margin-left: 10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:-10%;
        width: 30%;
        font-size: 28px;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }
}

@media screen and (max-width:400px){
    .main-img{
        width: 250px !important;
        height: 250px;
        border-radius: 50%;
        border: 0px solid #fff;
        border-width: 7px;
    }
    .pag{
        font-size: 28pt;
        text-align: center;
        width: 100%;
        margin-left: -5px;
        
    }
    
    .box-sub{
        position: relative;
        margin-top:-10% ;
        background: #a6a6a6;
        border:1px solid #fff;
        border-width: 10px;
    }
    .blog_show{
        margin:-10px 0 ;
    }

    .img-blog{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .blog-link-title{
        font-size: 18pt !important;
    }
    .page-link{
        font-size: 18pt !important;
    }
    .example{
        padding: 5% 0;
    }
    .main-pag{
        font-family:  'Open Sans Condensed';
        font-size: 18pt !important;
    }
    .thumnail-body{
        margin-top: -30%;
        width: 100%;
    }
    .title-read{
        padding: 1%;
        width: 100%;
        margin: 0% 1%;
        font-size: 28pt; 
    }
    .form{
        width:100%;
    }
    .erika-book-title{
        font-size:28pt ;
    }
    .book-ttl{
        font-size: 18pt;
        text-align: left;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width: 15%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 -10px;
        margin-top: 1%;       
        font-size: 18pt !important;
    }
    
    
    
    .main-form{
        width: 100rem;
        margin-left: 10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:-10%;
        width: 30%;
        font-size: 28px;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }

}


@media screen and (max-width:320px){

    .main-img{
        width: 250px !important;
        height: 250px;
        border-radius: 50%;
        border: 0px solid #fff;
        border-width: 7px;
    }
    .pag{
        font-size: 28pt;
        text-align: center;
        width: 100%;
        margin-left: -5px;
        
    }
    
    .box-sub{
        position: relative;
        margin-top:-10% ;
        background: #a6a6a6;
        border:1px solid #fff;
        border-width: 10px;
    }
    .blog_show{
        margin:-10px 0 ;
    }

    .img-blog{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .blog-link-title{
        font-size: 18pt !important;
    }
    .page-link{
        font-size: 18pt !important;
    }
    .example{
        padding: 5% 0;
    }
    .main-pag{
        font-family:  'Open Sans Condensed';
        font-size: 18pt !important;
    }
    .thumnail-body{
        margin-top: -30%;
        width: 100%;
    }
    .title-read{
        background-color: #C5DCDD;
        padding: 1%;
        width: 100%;
        margin: 0% 1%;
        font-size: 28pt; 
    }
    .form{
        width:100%;
    }
    .erika-book-title{
        font-size:28pt !important;
    }
    .book-ttl{
        font-size: 19pt;
        text-align: left;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width: 12%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 -10px;
        margin-top: 1%;       
        font-size: 18pt !important;
    }
    
    
    
    .main-form{
        width: 100rem;
        margin-left: 10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:-10%;
        width: 30%;
        font-size: 28px;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }

}

