@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}
.hero-page{
    font-size: 32px;
    font-family: open sans condensed;
    width: 100%;
}

.page-header{
    background: #c5dcdd;
    height: 80vh;
    
}

.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img{
    
    border-radius: 50%;
    width: 350px !important;
    height: 350px !important;
    display: grid;
    justify-content: center;
    align-items: center;
    place-self: center;
    border: 10px solid #ffffff;
}

.bold-text{
    font-size: 55px;
    font-family: 'Cinzel';

}
.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    text-align: center;
    display: grid;
    place-content: center;
    
}
.pag{
    font-family: Cinzel;
    font-size: 50px;
    text-transform: uppercase;
    
    
}
.position-box{
    margin-top: -10%;
}

.box-sub{
    background: #a6a6a6;
    border: 10px solid #ffffff;
    padding: 2%;
    box-shadow: 2px 5px 20px rgb(235, 232, 232);
}

.font{
    margin-right: 20%;
}

.blog{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    justify-self: center !important;

}
.wrap-blog{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.img-blog{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.blog-link-title{
    font-size: 32px;
}
.page-link{
    font-size: 32px;
}
.thumnail-body{
    background-image: url(../../static/images/thumnail_image.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-size: cover;
}
.main-pag{
    text-align: justify;
    text-wrap: wrap;
}
.title-read{
    display: flex;
    justify-content: center;
}
.read_link{
    text-decoration: none;
    color: #000000;
    background: #c5dcdd;
    padding: 0 5rem 0 5rem;
    transition: 0.5s ease-in-out;
}
.read_link:hover{
    background: #779697;
}

.erika-book-title{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.form{
    background: #a6a6a6;
    padding: 4%;
}

.col-form-label{
    text-align: right !important;
    width: 20rem;
}
.form-control-input{
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0%;
    background: transparent !important;
    width: 37rem;
    outline: none !important;
    font-size: 28px;
}
.form-control:focus{
    outline-width: 0%;
}
.form-control::placeholder{
    background: transparent !important;
    outline: none !important;
}
.book-submit{
    background: #c5dcdd;
    width: 20rem;
    justify-content: center;
    margin-left: 35%;
    margin-top: 2%;
    border-radius: 0%;
    transition: .4s ease-in-out;
}
.book-submit:hover{
    background:#779697 ;
}

@media (max-width:1280px){
    .page-header{
        height: 70vh;
    }
    .col-form-label{
        display: flex;
        justify-content: end;
        width: 15rem;
    }
}

@media (max-width:1199px){
    .form{
        background: #a6a6a6;
        padding: 4%;
    }
    
    .col-form-label{
        text-align: right !important;
        width: 40dvh;
        overflow: hidden;
    }
    .form-control-input{
        border: none;
        border-bottom: 2px solid #000000;
        border-radius: 0%;
        background: transparent !important;
        width: 37rem;
        outline: none !important;
        font-size: 28px;
    }
    .form-control:focus{
        outline-width: 0%;
    }
    .form-control::placeholder{
        background: transparent !important;
        outline: none !important;
    }
    .book-submit{
        background: #c5dcdd;
        width: 20rem;
        justify-content: center;
        margin-left: 35%;
        margin-top: 2%;
        border-radius: 0%;
        transition: .4s ease-in-out;
    }
    .book-submit:hover{
        background:#779697 ;
    }
}
@media(max-width:1104px){
    .page-header{
        height: 70vh;
    }
    .col-form-label{
        display: flex;
        justify-content: end;
        width: 15rem;
    }
    
}
@media (max-width:1024px){
    .page-header{
        height: 70vh;
    }
    .col-form-label{
        display: flex;
        justify-content: end;
        width: 15rem;
    }
}
@media(max-width:1180px){
    .page-header{
        height: 65vh;
    }
    .col-form-label{
        display: flex;
        justify-content: end;
        width: 15rem;
    }
    
}

@media(max-width:1194px){
    .page-header{
        height: 65vh;
    }
    .col-form-label{
        display: flex;
        justify-content: end;
        width: 15rem;
    }
    
}

@media (max-width:1000px){
    .page-header{
        height: 100%;
    }
    .img-control{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50%;
        top:50%;
        transform: translate(-50%);
        width: 100rem;
    }
    .main-img{
        width: 500px !important;
        height: 500px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .main-text{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
    }
    .position-box{
        position: relative;
        bottom: 2rem;
    }
    

    .col-form-label{
        display: flex;
        justify-content: right;
        width: 40dvh;
    }
    .form-control-input{
        border: none;
        border-bottom: 2px solid #000000;
        border-radius: 0%;
        background: transparent !important;
        width: max(35rem);
        outline: none !important;
        font-size: 28px;
    }
    
    .book-submit{
        background: #c5dcdd;
        width: 20rem;
        margin-left:25%;
        margin-top: 2%;
    }
}
@media (max-width:991px){
    .page-header{
        height: 60vh;
    }
    .thumnail-body{
        height: 70vh;
    }
    .col-form-label{
        display: flex;
        justify-content: left;
        width: 20rem;
    }
    .img-blog{
        width: 200px;
        height: 200px;
    }


}

@media (max-width:900px) {
    .position-box{
        position: relative;
        bottom: 1rem;
    }

    .main-form{
        position: relative;
        right: 50%;
        transform: translate(50%);
    }
    .col-form-label{
        display: flex;
        justify-content: left;
        width: 40rem;
    }
    .form-control-input{
        border-radius: 0%;
        width: 37rem;
        font-size: 28px;
        padding-top: -10px;
    }

    .book-submit{
        background: #c5dcdd;
        width: 20rem;
        justify-content: center;
        margin-left: 25%;
        margin-top: 2%;
    }
    .thumnail-body{
        height: 60vh ;
    }
    .img-blog{
        width: 180px;
        height: 180px !important;
    }
}

@media (max-width:767px){
    .hero-page{
        font-size: 25px;
    }
    .form-control-input{
        width: 30rem;
    }
    .main-text{
        display: grid;
        place-items: center;
    }
    .book-submit{
        margin-left: 15%;
    }
}

@media (max-width:500px) {
    .hero-page{
        font-size: 20px;
    }
    .img-control{
        width: 100rem !important;
    }
    .main-img{
        height: 300px !important;
        width: 300px !important;
    }
    .erika_h1
    {
        font-size: 20px;
    }
    .pag{
        font-size: 28px;
    }
    .bold-text{
        font-size: 33px;
    }
    .position-box{
        position: relative;
        bottom: 2rem;
    }
    .page-link{
        font-size: 20px;
    }
    .main-form-controls{
        position: relative;
        display: grid;
        grid-template-columns: auto;
    }
    .col-form-label{
        display: flex;
        justify-content: left;
        width: 100%;
    }
    .form-control-input{
        width: 100%;
        font-size: 20px;
    }
    .book-submit{
        background: #c5dcdd;
        width: 100%;
        justify-content: center;
        margin-left: 0%;
        margin-top: 2%;
    }
    .img-blog{
        width: 9rem;
        height: 9rem !important;
    }
    .blog-link-title{
        font-size: 20px;

    }
    .thumnail-body{
        padding: 5%;
        background-position: left;
        background-image: linear-gradient(rgba(0, 0, 0, 0.096),rgba(0, 0, 0, 0.26)),url('../images/thumnail_image.jpg');
    }
}
@media (max-width:400px){
    .hero-page{
        font-size: 20px;
    }
    .img-control{
        width: 100rem !important;
    }
    .main-img{
        height: 250px !important;
        width:250px !important;
    }
    .erika_h1
    {
        font-size: 19px;
    }
    .pag{
        font-size: 20px;
    }
    .bold-text{
        font-size: 30px;
    }
    
    .page-link{
        font-size: 20px;
    }
    

    .form-control-input{
        font-size: 20px;
    }
    .main-text{
        display: flex;
        justify-content: center;
    }

    .blog-link-title{
        font-size: 20px;

    }
}

