@font-face {
    font-family: le jour script;
    src: url(../text/LeJourScript-Eaqpg.otf);
    
}
@font-face {
    font-family: open sans condensed;
    src: url(../text/OpenSans-CondLight.ttf);
}
body{
    font-family: open sans condensed ;
    color: #000000;
    width: 100%;

}
.osc-font{
    font-family: open cans condensed !important;
}

.main-img{
    width: 300px !important;
    height: 300px;
    border-radius: 50%;
    border: 0px solid #fff;
    border-width: 7px;
    
}
.font{
    font-family: open sans condensed ;
}


.main-container{
    background: #C5DCDD;
}
.pag{
    font-size: 40px;
    text-align: center;
    margin: 10px 40px;
    font-family:  Cinzel !important;
}

.box-sub{
    position: relative;
    top: 50%;
    background: #a6a6a6;
    border: 0px solid rgb(255, 255, 255);
    border-width: 10px;
}
.main-pag{
    font-family:  'Open Sans Condensed';
    font-size: 28pt !important;
    font-weight: 500;
}
.hi{
    font-family:'Open Sans Condensed' ;

}
.erika_h1{
    font-family: le jour script;
}
.img-blog{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.blog{
    cursor: pointer;
}
.blog label{
    font-size: 25px !important;
    font-weight: bold;
    cursor: pointer;
}

.blog-link{
    color: #000000;

}

.thumnail-body{    
    background-image: url(../images/thumnail_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.thum-body{
    position: relative;
    height: 60vh;
}
.title-read{
    background-color: #C5DCDD;
    padding: 1%;
    width: 50%;
    margin: 0% 25%;
    font-size: 32pt;    
}

.read_link{
    color: #000000;
    text-decoration: none;
    font-weight: lighter;
    
}

.col-form-labels{
    font-size: 28pt;
}

.contact-title{
    font-size: 32pt;
}
.form{
    background-color: #A6A6Af !important;
    padding:1%;
    overflow: hidden;
}
h3{
 margin: 50px;
 position: relative;   
}

.ft-2{
    font-size: 18pt !important;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin: 50px;
    position: relative;

}

.book-ttl{
    font-weight: bold;
    font-size: 28pt;
    text-align: right;
}
.now-1{
    position: relative;
    overflow: hidden;
}

.book-input{
    position: relative;
    display: grid;
    max-width: 60%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #000000;
    padding:0 20px;
    margin-top: 1%;
   
    font-size: 28pt !important;
}

.main-form{
    width: 100rem;
    padding: 3%;
    overflow: hidden;   
}


.book-submit{
    margin-left:10%;
    width: 30%;
    font-size: 28px;
    font-weight:bold ;
    background-color: transparent;
    transition: 0.7s;
    border-radius:2px ;
    overflow: hidden;

}

.book-submit:hover{
    border: 2px solid #C5DCDD;
    background-color: #C5DCDD;
    
}
/* Tablet */
/* 
@media screen and (max-width:2560px){
    .myblog{
        width: 200dvh;
        overflow: hidden;
    }
    .book-input{
        width: 70%;
    } */

    
@media screen and (max-width:1024px){
    .main-form{
        margin-left: 8%;
    }
    .book-input{
        width: 65%;
    }

    
}
@media screen and (max-width:1024px) {
    .myblog{
        overflow: hidden;
    }
    .book-input{
        width: 40%;
    }

}

@media screen and (max-width:768px) {

    .book-ttl{
        font-weight: bold;
        font-size: 20pt;
        text-align: right;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width: 30%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 10px;
        margin-top: 1%;       
        font-size: 20pt !important;
    }
    
    .main-form{
        width: 100rem;
        margin-left: -10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:10%;
        width: 30%;
        font-size: 28px;
        font-weight:bold ;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }
}

@media screen and (max-width:425px) {

    .myblog{
        width: 60rem !important ;
        overflow: hidden;
    }
    .blog_show{
        width: 60rem !important;
    }
    .book-input{
        width: 50%;
    }
    .box-sub{
        margin-top: -8%;
        width: 59rem;
    }
    .thumnail-body{
        width: 60rem;
        height: 30rem;
    }
    .title-read{
        width: 40rem;
        margin:auto 30% ;
        margin-top: 10%;
    }
    .form{
        width: 55rem;
    }
    .book-ttl{
        font-weight: bold;
        font-size: 28pt;
        text-align: left;
    }

    .book-input{
        position: relative;
        display: grid;
        max-width:40%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000000;
        padding:0 10px;
        margin-top: 1%;       
        font-size: 28pt !important;
    }
    
    .main-form{
        width: 100rem;
        margin-left: 10%;
        overflow: hidden;   
    }
    
    
    .book-submit{
        margin-left:-10%;
        width: 30%;
        font-size: 28px;
        font-weight:bold ;
        background-color: transparent;
        transition: 0.7s;
        border-radius:2px ;
        overflow: hidden;
    
    }
}

 /*@media screen and (max-width:450px) {
    .myblog{
        padding:20% 0;
    }
    .pag{
        margin: 0% 0% 40% 0%;
        font-size: 30px;
    }
    .box-sub{
        margin-top: 10%;
    }
}

@media screen and (max-width:400px) {
    .myblog{
        padding:20% 0;
    }
    .pag{
        margin: 0% 0% 40% 0%;
        font-size: 30px;
    }
    .box-sub{
        margin-top: 20%;
    }
}
@media screen and (max-width:350px) {
    .myblog{
        padding:20% 0;
    }
    .pag{
        margin: 0% 0% 40% 0%;
        font-size: 30px;
    }
    .box-sub{
        margin-top: 40%;
    }
    .main-img{
        width: 200px !important;
        height: 200px;
        border-radius: 50%;
        border: 0px solid #fff;
        border-width: 7px;
        
    }
}
@media screen and (max-width:310px) {
    .myblog{
        padding:20% 0;
    }
    .pag{
        margin: 0% 0% 40% 0%;
        font-size: 30px;
    }
    .box-sub{
        margin-top: 60%;
    }
} */
