.container-tools-body {
    background-color: #C9DCDD;
    font-size: 25px;
}
.tools-title{
    font-family: Cinzel;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.books-book{
    display: grid;
    grid-template-columns: auto auto;
}
.books-book .img1{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.books-book-link{
    text-decoration: none !important;
    color: #000000 !important;
}
.button{
    background: #a6a6a6;
    border: none;
    padding: 1% 15%;
    color: #000000 !important;
    transition: .4s ease-in-out;
}
.button:hover{
    background:#868686 ;
}
.download{
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
}

.d-img .img2{
    width: 300px !important;
    height: 300px !important;
    padding: 2%;
    border: none;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-top: -10%;
}
.des{
    padding: 3%;
    text-align: justify;
}
.des1{
    padding: 3%;
    text-align: justify;

}
.modal-content{
    padding: 3%;
    border: 3px solid #ececec;
    border-radius: 30px;
}
.model-input{
    width: 50%;
    border: none;
    border-bottom: 1px solid #000;
}
.model-submit{
    background-color: #c5dcdd;
    border: 1px solid #000;
    font-size: 22px;
    border-radius: 30px;
    padding:0 4%;
}
input[type='checkbox'] {
    height: 20px;
    width: 20px;
}
.chek-label{
    text-align: center;
}


@media (max-width:1000px){
    .books-book{
        display: grid;
        grid-template-columns: auto;
    }
    .download{
        display: grid;
        grid-template-columns: auto !important;
    }
    .img{
        display: grid;
        justify-content: center;
    }
    .d-img{
        display: grid;
        justify-content: center;
    }
    .button{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}
@media (max-width:900px){
    .books-book{
        display: grid;
        grid-template-columns: auto;
    }
    .download{
        display: grid;
        grid-template-columns: auto !important;
    }
    .img{
        display: grid;
        justify-content: center;
    }
    .d-img{
        display: grid;
        justify-content: center;
    }
    .button{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width:768px) {
    .container-tools-body{
        font-size: 20px;
    }
}

@media (max-width:425px){
    .books-book .img1{
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .d-img .img2{
        width: 350px !important;
        height: 350px !important;
        padding: 2%;
        border: none;
        object-fit: cover;
        object-position: 0px 0%;
        border-radius: 50%;
    }
    .des{
        padding: 3%;
    }
    .des1{
        padding: 3%;
    }
}

@media (max-width:400px){
    .container-tools-body {
        background-color: #C9DCDD;
        font-size: 20px;
    }
    .books-book .img1{
        width: 300px;
        height: 300px;
        border: none;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .d-img .img2{
        width: 300px !important;
        height: 300px !important;
        padding: 2%;
        border: none;
        object-fit: cover;
        object-position: 0px 0%;
        border-radius: 50%;
    }
    
    .button{
        background: #a6a6a6;
        border: none;
        padding: 0% 10%;
    }
    .des{
        padding: 3%;
    }
    .des1{
        padding: 3%;
    }
}
@media (max-width:374px){
    .books-book .img1{
        width: 250px;
        height: 250px;
        border: none;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .d-img .img2{
        width: 250px !important;
        height: 250px !important;
        padding: 2%;
        border: none;
        object-fit: cover;
        object-position: 0px 0%;
        border-radius: 50%;
    }
}

