{% extends 'partials/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/add-book.css' %}">
{% endblock link %}

{% block body %}

<div class="main-panel justify-content-center main-content">
    <div class="content-wrapper pb-0">

        <div class="show-book mb-3">

            <div class="mb-3">
                <img src="{{books_images.Books_Images.url}}" width="200px" height="200px" alt="" class="mb-2" >
            </div>

            <form action="{% url 'edit_books_image_sections' books_images.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3 py-2">
                    <label for="formFileMultiple" class="form-label">
                      <div id="selectedBanner"></div>
                    </label>
                    <input class="form-control img-thumbnail" id="img" name="new-update-images" type="file" multiple required="required">
                  </div>
                <input type="submit" value="Change Image" class="btn btn-outline-info">

            </form>
        </div>
        <div class="go py-1">
            <a class="btn btn-outline-info" href="{% url 'books-section' %}">GO Back</a>
        </div>

    </div>
</div>




    
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"
></script>


<script>
  let selDiv = "";
  let storedFiles = [];
  $(document).ready(function () {
    $("#img").on("change", handleFileSelect);
    selDiv = $("#selectedBanner");
  });

  function handleFileSelect(e) {
    let files = e.target.files;
    let filesArr = Array.prototype.slice.call(files);
    filesArr.forEach(function (f) {
      if (!f.type.match("image.*")) {
        return;
      }
      storedFiles.push(f);

      let reader = new FileReader();
      reader.onload = function (e) {
        let html =
          '<img src="' +
          e.target.result +
          "\" data-file='" +
          f.name +
          "' class='avatar rounded lg' alt='Category Image' height='200px' width='200px'>";
        selDiv.html(html);
      };
      reader.readAsDataURL(f);
    });
  }
</script>

{% endblock body %}