<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin-login.css' %}">
    <title>Erika-Admin Login</title>
</head>
<body>
    <div class="container py-5">
        <div class="wrappe ">
            <div class="form-container  ">
                <p class="title">Login</p>
                <form class="form" action="{% url 'adminlogin' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="" required>
                    </div>
        
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="" required>
                    </div><br>
                    <button class="sign">Sign in</button>
                </form>
                <div class="social-message">
                    <div class="line"></div>
                    <p class="signup messages">Visit Our Site:
                        <a rel="noopener noreferrer" href="/" class="">Erika</a>
                    </p>
                    <div class="line"></div>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="social-icons">
                    <p style="color: #ff0000;"> {{message}}</p>
                </div>
                {% endfor %}
                {% endif %}
               
            </div>

        </div>
    </div>
</body>
</html>