
{% extends 'partials/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
{% endblock link %}

{% block body %}
<div class="main-panel">
  <div class="content-wrapper pb-0">
    <div class="main-about-sections ">
        <div class="main-body py-5">
            <div class="form">
                <div class="title text-center">
                    <h1 class="bio">Change Image</h1>
                </div>
        
                <div class="old-img mb-1">
                    <img src="{{change_image.Author_Image.url}}"  class="rounded img-fluid" width="300" height="200" alt="">
                  </div>

              <form action="{% url 'change_about_image' change_image.id %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                
                
                <div class="mb-3 py-2">
                  <label for="formFileMultiple" class="form-label">
                    <div id="selectedBanner"></div>
                  </label>
                  <input class="form-control" id="img" name="change_about_image" type="file" value="{{edit_about.Author_Image.url}}" id="formFileMultiple" multiple>
                </div>
                
                <input class="btn btn-primary mb-2" type="submit" value="Change Image">
              </form>
              <div class="goBack">
                <a href="{% url 'about-me' %}">
                    <input class="btn btn-primary" type="button" value="Go Back">
                  </a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>



    
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"
></script>


<script>
  let selDiv = "";
  let storedFiles = [];
  $(document).ready(function () {
    $("#img").on("change", handleFileSelect);
    selDiv = $("#selectedBanner");
  });

  function handleFileSelect(e) {
    let files = e.target.files;
    let filesArr = Array.prototype.slice.call(files);
    filesArr.forEach(function (f) {
      if (!f.type.match("image.*")) {
        return;
      }
      storedFiles.push(f);

      let reader = new FileReader();
      reader.onload = function (e) {
        let html =
          '<img src="' +
          e.target.result +
          "\" data-file='" +
          f.name +
          "' class='avatar rounded lg' alt='Category Image' height='200px' width='200px'>";
        selDiv.html(html);
      };
      reader.readAsDataURL(f);
    });
  }
</script>


{% endblock body %}