.btn-color{
    background: #c5dcdd;
    border: 1px solid #8abdc0 !important;

}

.blog-blog{
    text-align: justify;
}
.img-blog{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.card-text{
    text-align: justify !important;
}
.blog{
    cursor: pointer;
    font-family:  Archivo Narrow;
}
.blog label{
    font-size: 25px !important;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}
.blog-tts{
    text-decoration: underline;
}

.img-content-blog{
    width: 100%;
    height: 100%;
}
.img-content-blog .content-img{
    width: 100% !important;
    height: 550px !important;
}



