#id_old_password,#id_new_password1,#id_new_password2{
    width: 100%;
    background: transparent;
    padding: 1%;
    outline: none;
    border-radius: 2px;
    border:none;
    border-bottom: 1px solid aqua;
}
label{
    font-size: 20px;
}

.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-10%);
    
}

form .main-container{
    border: none;
    width: 50%;
    padding: 2%;
    background-color: #4e4e4e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 16px 30px 50px #000;
}
.submit{
    background-color: #c5dcdd;
    border:none;
    padding: 1%;
    border-radius:3px;
    outline: none;
}
.submit:hover{
    background-color: #a2dadd;
}