{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<style>
    body .main-book-container{
        background: #C9DCDD;
        width: 100%;
        
    }
    .fs-32{
        font-size: 32pt;
    }
    .button .button{
        background: #a6a6a6;
        border: none;
        outline: none;
        font-size: 32pt;
        padding: 0% 5% 0% 5%;
    }
    .book-des{
        font-size:32pt !important ;
    }

    @media screen and (max-width:425px){
        body .main-book-container{
            background: #C9DCDD;
            width: 100%;
            overflow: hidden;      
        }
        
        .fs-32{
            font-size: 32pt;
        }
        .fs-28{
            font-size: 28pt;
        }
        .button .button{
            background: #a6a6a6;
            border: none;
            outline: none;
            font-size: 28pt;
            padding: 0% 5% 0% 5%;
        }
        .book-descriptions{
            width: 480px;
            position: relative;
            left: -11%;

        }
        .book-des{
            font-size: 20px !important;
        }

    }

    @media screen and (max-width:375px){
        .fs-32{
            font-size: 18pt;
        }
        .button .button{
            background: #a6a6a6;
            border: none;
            outline: none;
            font-size: 28pt;
            padding: 0% 5% 0% 5%;
        }
        .book-descriptions{
            width: 450px;
            position: relative;
            left: -12%;

        }
        .book-des{
            font-size: 18px !important;
        }
    }
    @media screen and (max-width:320px){
        .fs-32{
            font-size: 18pt;
        }
        .button .button{
            background: #a6a6a6;
            border: none;
            outline: none;
            font-size: 28pt;
            padding: 0% 5% 0% 5%;
        }
        .book-descriptions{
            width: 405px;
            position: relative;
            left: -14%;

        }
        .book-des{
            font-size: 18px !important;
        }

    }
</style>
{% endblock link %}


{% block content %}

<div class="main-book-container">   
    <div class="book-info">
        {% for show_book in show_books %}
        <div class="body-book-img">
            <img src="{{show_book.Books_Images.url}}" width="100%" alt="">
        </div>
        <div class="button text-center py-5">
            <a href="{{show_book.Book_Link}}" target="_blank" >
                <button class="button" style="color: #000;">START READING TODAY!</button>
            </a>
        </div>
        <div class="book-descriptions">
            <div class="ttl  py-5 p-5">
                <h4 class="fs-32 text-center" >Book Description</h4><br>
                <p class="book-des" >
                    Have you been in the church a long time but still struggle to hear from God? Or is walking with Jesus brand new to you, and you're not even sure that He speaks? Either way, this book will help walk you into deeper intimacy with the One who made you and wants to speak to you. If you're sick of prayer being a one-sided conversation and are ready to start hearing more clearly from God, join me on my three-year journey through Nepal learning to listen and obey. This book is full of stories of my adventures with Jesus, paired with tangible baby steps for you to have even greater adventures with Jesus. If you're hungry to encounter more of God, look no further. Grab a cup of coffee, this book, and a journal, and let the adventures with Jesus begin!
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="book-descriptions Rw">
            <div class=" review fs-32 p-1">
                <h5 class="text-center py-1 fs-32" >Reviews</h5>
                {% for RW in show_reviews %}
                <p class="book-des p-3">
                    {{RW.Reviews}}
                </p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock content %}