{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock link %}


{% block content %}

<div class="main-book-container">   
    <div class="wrapper book-info">

        {% for show_book in show_books %}

        <div class="">
            <div class="body-book-img">
                <img src="{{show_book.Books_Images.url}}" width="100%" alt="">
            </div>
        </div>

        <div class="container text-area">
            <div class="button text-center py-2">
                <a href="{{show_book.Book_Link}}" target="_blank" >
                    <button class="start-button" >START READING TODAY!</button>
                </a>
            </div>
            <div class="book-descriptions">
                <div class="ttl  py-5">
                    <p class="text-center" >Book Description</p>
                    <p class="book-des" >
                        {{show_book.Descriptions}}
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class="book-descriptions Rw">                
                <p class="text-center" > Reviews</p>
                {% for RW in show_reviews %}
                <p class="book-des">
                    {{RW.Reviews}}
                </p>
                {% endfor %}                
            </div>
        </div>
    </div>
</div>
{% endblock content %}