{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock link %}


{% block content %}

<div class="container">
  <div class="wrapper">
      <div class="form mb-5 py-3" >
        
          <span>
              <p class="ft-2 text-center contact-form-title" >Get in Touch!</p>
          </span> 
            <div class="message-show">
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong style="font-size: 28px;" >Thank You!</strong> <p style="font-size: 28px;" >{{message}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          <form class="main-form" action="{% url 'contact' %}" method="POST">
              {% csrf_token %}

              <div class="row g-3 align-items-center main-form-controls ">
                  <div class="col-auto">
                    <label class="col-form-label">Name:</label>
                  </div>
                  <div class="col-auto">
                    <input type="text" name="name" class="form-control-input" required="required" >
                  </div>
                  
              </div>
              <div class="row g-3 align-items-center main-form-controls ">
                  <div class="col-auto">
                      <label class="col-form-label">E-mail:</label>
                    </div>
                    <div class="col-auto">
                      <input type="email" name="email" class="form-control-input" required="required" >
                    </div>
                    
              </div>
              <div class="row g-3 align-items-center main-form-controls ">
                  <div class="col-auto">
                      <label class="col-form-label">Messages:</label>
                  </div>
                  <div class="col-auto">
                      <input type="text" name="message" class="form-control-input" required="required" >
                  </div>
                    
              </div>
            
              <input type="submit" class="form-control-plaintext book-submit ft-2" value="Submit" >         
          </form>
      </div>
      
  </div>

</div>


{% endblock content %}