{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock link %}


{% block content %}

<div class="container-fluid main-contact-container py-5">
  <div class="wrapper py-5">
      <div class="container contact">
        <div class="contact-tag p-1">
          <h3 class="ft-2 text-center form-title-show"  >Get in Touch! </h3>
          <div class="message-show">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
              <strong style="font-size: 28pt;" >Thank You!</strong> <p style="font-size: 28pt;" >{{message}}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>

        <form class="main-form" action="{% url 'contact' %}" method="POST">
          {% csrf_token %}  
          <div class="mb-3 row now-1 input-controle-form">
              <label  class="col-md-2 col-form-label  contact-ttl">Name:</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control contact-input-controle"  placeholder="Full Name" required >
              </div>
            
            
              <label  class="col-sm-2 col-form-label  contact-ttl">E-mail:</label>
              <div class="col-md-10">
                <input type="text" class="form-control contact-input-controle mb-5" name="email" placeholder="E-mail" required >
              </div>
  
              <label  class="col-sm-2 col-form-label  contact-ttl">Message:</label>
              <div class="col-md-10">
                  <textarea name="message" id="" rows="4" class="message" placeholder="Message" ></textarea>
              </div>            
          </div>       
          <input type="submit" class="form-control submit-contact" value="Submit" >         
        </form>
      </div>
    </div>
</div>

{% endblock content %}