{% extends 'main/base.html' %}
{% load static %}

<!-- title section -->
{% block title %}
        Erika
{% endblock title %}

<!-- link section -->
{% block link %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
{% endblock link %}


<!-- Body section -->
{% block content %}    

<div class="hero-page">
    
    <div class="container-fluid hedline-content">
        <div class="d-flex mg-head align-items-center ms-3">
            <div class="flex-shrink-0 ms-2">
              <img src="{% static 'images/author.jpg' %}" alt="" class="main-image img-fluid">
            </div>
            <div class="flex-grow-1 ms-2">
              <label class="main-title" >On a mission to make <br> <label class="hi-tag-titile">hearing God’s voice</label> <br> possible for everyone</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <p class="tag-paragraphs al" id='erika_h1' >Hi, I'm <br> <label class="sig-name" for='erika_h1'>Erika</label></p>
            
            <p class="tag-paragraph" style="text-align: justify;" >Hearing God's voice will change your life! It will impact your walk with Jesus, marriage, parenting, work, and relationships. But you don't have to figure it out for yourself; I'm here to help with testimonies, tools, and resources so you can start hearing God's voice today!</p>
        </div>
    </div> 
    
    
    
    <div class="container-fluid py-5 " id='reload'>
        <div class="wrapper justify-content-center">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 blog_show d-flex justify-content-center">
                {% for blog in blog reversed %}
                    <div class="col blog justify-content-center">
                        <a href="{% url 'showblog' blog.id %}" style="text-decoration: none; color: #000000;" >
                            <div class="text-center mb-2">
                                <img class="img-blog" src="{{blog.image.url}}" alt="..">
                            </div>
                            <div class="blog-title text-center py-5">
                                <h5 class="blog-link-title"> {{blog.blog_title | upper }} </h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if blog.has_previous %}
                  <li class="page-item">
                    <a class="page-link" style=" color: #000000; text-decoration: none;" href="?page={{blog.previous_page_number}} #reload" >&laquo; Previous </a>
                  </li>
                  {% endif %}
              
              
                  {% if blog.has_next  %}
                  <li class="page-item">
                    <a class="page-link" style="color: #000000; text-decoration: none;" href="?page={{blog.next_page_number}} #reload">More Blogs &raquo;</a>          
                  </li>
                  {% endif %}
                </ul>
            </nav>
        </div>
        
    </div>

    
    
    <!-- this is the main thumbnail of the website -->
    <div class="container thumnail-body">
        <div class="wrapper thum-body">
            
        </div>
    </div>
    <!-- this thumbnail end here -->
    
    <div class="container-fluid py-3">
        <div class="container py-5 ">
            <div class="wrapper justify-content-center position-relative top-50 start-50 translate-middle">
                <div class="d-grid gap-2 text-center title-read">
                    <a href="https://www.amazon.com/Every-Step-AdventuresErikaDeJonge/dp/B0CPW4157J/ref=sr_1_1?crid=3QQCLTR57H7XT&dib=eyJ2IjoiMSJ9.CL4
                    muj6qIbYHz5pU_GsH5Od47Klx33RSUgcfNkUZeio6W6vW2O1StWxlaAMK1zZc_nfBi9VPO7I
                    9XZbgBKu1cYuKvR-oucSgC1gyoCssJvB4PdNrIBERATFCM6E_ZFZ9iKdEADEruxsWAX6ySm1X-PEtafu6NcJR25SpV-JlLpWGg2b4CyeDT9CMS_Zy1-
                    HEkuXONlHQulxgnO1JDfLeuKgsNKa8ubxvZeJp9Cs.dDFQnYaBpgdQHLetKUzXMs_e8yWk5
                    gOcbRz2BtGtnt4&dib_tag=se&keywords=every+step+adventures+with+jesus&qid=172499
                    4634&sprefix=Every+step+with+jesus%2Caps%2C483&sr=8-1
                    " target="_blank" class="read_link" style="color: #000000;" >START READING TODAY!</a>
                </div>
            </div>
        </div>
        
        <div class="container"  id="book-erika">
            <div class="wrapper">
                <div class="form mb-5" >
                    <span>
                        <p class="ft-2 text-center erika-book-title" >Invite Erika for an Event.</p>
                    </span>
                    <form class="main-form" action="{% url 'event_book' %}" method="POST">
                        {% csrf_token %}
    
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                              <label class="col-form-label">Name:</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" name="name" class="form-control-input" required="required" >
                            </div>
                            
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">Event Description:</label>
                              </div>
                              <div class="col-auto">
                                <input type="text" name="event_description" class="form-control-input" required="required" >
                              </div>
                              
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">E-mail:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" name="email" class="form-control-input" required="required" >
                            </div>
                              
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">Phone#:</label>
                              </div>
                              <div class="col-auto">
                                <input type="text" name="phone"  class="form-control-input" required="required" >
                              </div>
                        </div>
                      
                        <input type="submit" style="font-weight: lighter;"  class="form-control-plaintext book-submit" value="Invite Erika" >         
                    </form>
                </div>
                
            </div>
    
        </div>
    </div>
</div>



{% endblock content %}