{% extends 'main/base.html' %}
{% load static %}

<!-- title section -->
{% block title %}
        Erika
{% endblock title %}

<!-- link section -->
{% block link %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
{% endblock link %}


<!-- Body section -->
{% block content %}    

<div class="hero-page">
    <div class="container-fluid page-header">
            <div class="wrapper">
                <div class="row">
                    <div class="py-4 col-5 img-control">
                        <img class='main-img' src="{% static 'images/author.jpg' %}"  alt="">
                    </div>
                    <div class="col main-text" >
                        <p class="pag">On a mission to make <br> <b class="bold-text"> hearing God’s voice </b><br> possible for everyone </p>
                          
                    </div>                    
                </div>
            </div>
    </div><br><br>
    
    
    <div class="container position-box">
        <div class="wrapper">
            <div class="container-fluid box-sub ">
                <p class="text-center font">Hi, I'm</p>
                <h1 class="text-center erika_h1 mx-50">Erika</h1>
                
                <p id='reload' class="main-pag">I believe God wants to speak into every aspect of your life from marriage to work and relationships.
                    We aren't meant to do this alone, so I am on a mission to create tools and resources to help you begin hearing God's voice today!
                </p>
            </div>
        </div>
    </div >    
    
    
    
    <div class="container-fluid py-5">
        <div class="wrapper">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 blog_show">
                {% for blog in blog reversed %}
                    <div class="col blog">
                        <a href="{% url 'showblog' blog.id %}" style="text-decoration: none; color: #000000;" >
                            <div class="text-center mb-2">
                                <img class="img-blog" src="{{blog.image.url}}" alt="..">
                            </div>
                            <div class="blog-title text-center py-5">
                                <h5 class="blog-link-title"> {{blog.blog_title | upper }} </h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if blog.has_previous %}
                  <li class="page-item">
                    <a class="page-link" style=" color: #000000; text-decoration: none;" href="?page={{blog.previous_page_number}} #reload" >Previous Page &laquo;</a>
                  </li>
                  {% endif %}
              
              
                  {% if blog.has_next  %}
                  <li class="page-item">
                    <a class="page-link" style="color: #000000; text-decoration: none;" href="?page={{blog.next_page_number}} #reload">More Blog &raquo;</a>          
                  </li>
                  {% endif %}
                </ul>
            </nav>
        </div>
        
    </div>

    
    
    <!-- this is the main thumbnail of the website -->
    <div class="container thumnail-body">
        <div class="wrapper thum-body">
            
        </div>
    </div>
    <!-- this thumbnail end here -->
    
    <div class="container-fluid py-3">
        <div class="container py-5 ">
            <div class="wrapper justify-content-center position-relative top-50 start-50 translate-middle">
                <div class="d-grid gap-2 text-center title-read">
                    <a href="https://www.amazon.com/Every-Step-AdventuresErikaDeJonge/dp/B0CPW4157J/ref=sr_1_1?crid=3QQCLTR57H7XT&dib=eyJ2IjoiMSJ9.CL4
                    muj6qIbYHz5pU_GsH5Od47Klx33RSUgcfNkUZeio6W6vW2O1StWxlaAMK1zZc_nfBi9VPO7I
                    9XZbgBKu1cYuKvR-oucSgC1gyoCssJvB4PdNrIBERATFCM6E_ZFZ9iKdEADEruxsWAX6ySm1X-PEtafu6NcJR25SpV-JlLpWGg2b4CyeDT9CMS_Zy1-
                    HEkuXONlHQulxgnO1JDfLeuKgsNKa8ubxvZeJp9Cs.dDFQnYaBpgdQHLetKUzXMs_e8yWk5
                    gOcbRz2BtGtnt4&dib_tag=se&keywords=every+step+adventures+with+jesus&qid=172499
                    4634&sprefix=Every+step+with+jesus%2Caps%2C483&sr=8-1
                    " target="_blank" class="read_link" style="color: #000000;" >START READING TODAY!</a>
                </div>
            </div>
        </div>
        
        <div class="container"  id="book-erika">
            <div class="wrapper">
                <div class="form mb-5" >
                    <span>
                        <p class="ft-2 text-center erika-book-title" >Book Erika for an event.</p>
                    </span>
                    <form class="main-form" action="{% url 'event_book' %}" method="POST">
                        {% csrf_token %}
    
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                              <label class="col-form-label">Name:</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" name="name" class="form-control-input" required="required" >
                            </div>
                            
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">Event Description:</label>
                              </div>
                              <div class="col-auto">
                                <input type="text" name="event_description" class="form-control-input" required="required" >
                              </div>
                              
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">E-mail:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" name="email" class="form-control-input" required="required" >
                            </div>
                              
                        </div>
                        <div class="row g-3 align-items-center main-form-controls ">
                            <div class="col-auto">
                                <label class="col-form-label">Phone#:</label>
                              </div>
                              <div class="col-auto">
                                <input type="text" name="phone"  class="form-control-input" required="required" >
                              </div>
                        </div>
                      
                        <input type="submit" style="font-weight: lighter;"  class="form-control-plaintext book-submit" value="Book Erika" >         
                    </form>
                </div>
                
            </div>
    
        </div>
    </div>
</div>



{% endblock content %}