{% extends 'main/base.html' %}
{% load static %}
{% block link %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>


{% endblock link %}
{% block title %}
    Blogs
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="wrapper">
            <div class='show-blog'>
                <div class="blog-body py-4">
                    <h1 class ='blog-tts title-font' > {{show_blog.blog_title | upper }} </h1>
                    <div class="paragraph">
                        
                        <div class="intro">
                            <p class="blog-introduction blog-blog py-1" > {{show_blog.blog_intro}} </p>
                        </div>
                        <div class="py-3 img-content-blog mb-1">
                            <img class="content-img" src="{{show_blog.image.url}}" alt="">
                        </div>
                        <div class="blog-body-text blog-blog">
                            <p> {{show_blog.blog_body}} <p id="reload"></p></p>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>


<div class="container-fluid position-relative">
    <div class="wrapper position-relative bottom-0 start-50 translate-middle-x wrapper-items">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4  ">

            {% for i in blog_content reversed %}
            <div class="col blog">
                <a href="{% url 'showblog' i.id %}" class="blog-link align" style="text-decoration: none;" >
                    <div class="text-center mb-2">
                        <img class="img-blog" src="{{i.image.url}}" alt="..">
                    </div>
                    <div class="blog-title text-center py-2">
                        <h4 class="blog-link-title" > {{i.blog_title | upper}} </h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if blog_content.has_previous %}
              <li class="page-item">
                <a class="page-link" style="text-decoration: none; color: #000000;" href="?page={{blog_content.previous_page_number}} #reload" >Previous Page &laquo;</a>
              </li>
              {% endif %}
          
          
              {% if blog_content.has_next %}
              <li class="page-item">
                <a class="page-link" style="text-decoration: none; color: #000000;" href="?page={{blog_content.next_page_number}} #reload" >More Blog &raquo;</a>
          
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
</div>


{% endblock content %}