{% extends 'main/base.html' %}
{% load static %}

{% block link %}

    <link rel="stylesheet" href="{% static 'css/tools.css' %}">

{% endblock link %}

{% block content %}

<div class="container-fluid container-tools-body py-5">
    <div class="wrapper py-5">
        <label class="tools-title" >TOOLS</label>

        <div class=" container books-book py-1 p-2">
            <div class="img">
                <img class="img1" src="{% static 'images/erika-book.png' %}" alt="">
            </div>

            <div class="text">
                <p class="des">
                    Have you been in the church a long time but still struggle to hear from God? 
                    Or is walking with Jesus brand new to you, and you're not even sure that 
                    He speaks? Either way, this book will help walk you into deeper intimacy with 
                    the One who made you and wants to speak to you. If you're sick of prayer being a 
                    one-sided conversation and are ready to start hearing more clearly from God, join 
                    me on my three-year journey through Nepal learning to listen and obey. This book is 
                    full of stories of my adventures with Jesus, paired with tangible baby steps for you 
                    to have even greater adventures with Jesus.</p>

                <a href=" https://www.amazon.com/Every-Step-AdventuresErikaDeJonge/dp/B0CPW4157J/ref=sr_1_1?crid=3QQCLTR57H7XT&dib=eyJ2IjoiMSJ9.CL4
                            muj6qIbYHz5pU_GsH5Od47Klx33RSUgcfNkUZeio6W6vW2O1StWxlaAMK1zZc_nfBi9VPO7I
                            9XZbgBKu1cYuKvR-oucSgC1gyoCssJvB4PdNrIBERATFCM6E_ZFZ9iKdEADEruxsWAX6ySm1X-PEtafu6NcJR25SpV-JlLpWGg2b4CyeDT9CMS_Zy1-
                            HEkuXONlHQulxgnO1JDfLeuKgsNKa8ubxvZeJp9Cs.dDFQnYaBpgdQHLetKUzXMs_e8yWk5
                            gOcbRz2BtGtnt4&dib_tag=se&keywords=every+step+adventures+with+jesus&qid=172499
                            4634&sprefix=Every+step+with+jesus%2Caps%2C483&sr=8-1" target="_blank" class="books-book-link" >
                    <button class="button" style="color: #000000;" >START READING TODAY!</button>
                </a>
                
            </div>
        </div>

        <div class="container-fluid py-5" >
            <div class=" container download p-2">
                <div class="d-img">
                    <img class="img2" src="{% static 'images/tools.jpg' %}" alt="">
                </div>
                <div class="text">
                    <p class="des1" >
                        Looking for more ways to connect with God every day? 
                        Download this free calendar with four weeks of prompts to get 
                        you started hearing God’s voice today! 
                    </p>
                    
                    <button class="button"  type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: #000000;" >DOWNLOAD NOW!</button>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

  
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Subscribe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="model-form" action="{% url 'tools' %}" method="POST">
            {% csrf_token %}
            <label class="model-sub-info">Enter your Email to Download This Document...</label><br>
            <label class="model-label">E-Mail:</label><br>
            <input class="model-input" type="email" name="email" name="email"  placeholder="Enter your email address" required><br>
            <input type="checkbox" name="notification" id="checkbox" >
            
            <label for="checkbox">Get Notification for an Update! </label><br>
            <input class="model-submit" type="submit" value="Download Now">
        </form>
    </div>
    <div class="modal-footer">
         
    </div>
    </div>
</div>
</div>

{% endblock content %}